{%extends 'base.jinja'%}

{%block title%} Inicio {%endblock%}

{%block content%}
<br><br><br>
{% if error_msg%}
<div role="alert" class="alert alert-error">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>{{error_msg}}</span>
</div>
<br><br>
{%endif%}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Dominios Maliciosos ({{total_domains}})
                </th>
                <th scope="col" class="px-6 py-3 text-left">
                    <a href="{{url_for('reload_evil_domains')}}"
                        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        <strong>Actualizar</strong>
                    </a>
                    <button onclick="insert_domain.showModal()"
                        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                        <strong>AÑADIR</strong>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {%for domain in domains%}
            <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{domain['domain']}}
                </th>
                <td class="px-6 py-4 text-left">
            
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div class="join">
        {% if page > 1 %}
            <a href="{{ url_for('evil_domains', page=page-1) }}" class="text-white dark:bg-gray-800 dark:border-gray-700 border-gray-200 join-item btn">«</a>
        {%endif%}
        <button class="text-white dark:bg-gray-800 dark:border-gray-700 border-gray-200 join-item btn">Page {{page}}</button>
        {%if page < total_pages %}
            <a href="{{ url_for('evil_domains', page=page+1) }}" class="text-white dark:bg-gray-800 dark:border-gray-700 border-gray-200 join-item btn">»</a>
        {%endif%}
    </div>
</div>

<dialog id="insert_domain" class="modal">
  <div class="modal-box text-white dark:bg-gray-800">
    <form method="dialog">
      <button class="btn btn-sm text-white btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <form method="post" action="{{url_for('add_evil_domain')}}" id="new_domain_form">
        <input type="text" name="evildomain" placeholder="evildomain.com" class="dark:bg-gray-800 input input-success" />
        <button type="submit" class="btn btn-success">Añadir</button>
    </form>
  </div>
</dialog>


{%endblock%}